html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-size: 14pt;
  background-color: #ebebeb;
  color: #292929;
  width: 33em;
}
h1 {
    text-align:center;
    font-size:24pt;
    }

h2 {
    text-align:center;
    font-size:18pt;
}
