html {
    margin:0;
    padding:0;
    margin-left:20px;
    margin-right:40px;
    font-size:14pt;
}
h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
div.masthead {
    text-align:center;
}
div.advert {
    border: 5px solid black;
    background-color: #CEB888;
}
table {
    width:100%;
}